Options -Indexes

<FilesMatch "\.php$">
    Require all denied
</FilesMatch>

<FilesMatch "\.js$">
    Require all granted
</FilesMatch>

<FilesMatch "^(update_ipv6|ipv6|disconnect|mikrotik|cgnat|import|search)\.php$">
    Require all granted
</FilesMatch>
